:root {
    --indentSize: 16px;
}

body {
    background-color: #f0f0f0;
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

details {
    *[style*="--indent"] {
        padding-left: calc(var(--indentSize) * var(--indent));
    }
}
